# ignore everything in root
/*
# except for these files
!README.md
!LICENSE.txt
!poetry.lock
!pyproject.toml
!.readthedocs.yaml

# and these folderers
!/asteca
!/docs

# But ignore these files
*.pyc

# and ignore these folders
/docs/build/*
/docs/autoapi/*
/docs/apidocs/*
# Jupyter Notebook
.ipynb_checkpoints